body {
    font-family: 'Poppins', sans-serif;
    margin: 0px;
}

.flex-container {
    display: flex;
    margin-bottom: 175px;

}

.orange {
    color: orange;
}

.half-width {
    width: 50%;
    padding-left: 3%;
    padding-right: 3%;
}

.half-width img {
    width: 75%;
}

h3 {
    font-weight: 900;
}

h1 {
    font-size: 45px;
}

.link-Button {
    text-decoration: none;
    background-image: linear-gradient(rgb(243, 161, 8), rgb(227, 59, 30));
    font-size: 18px;
    padding: 10px 30px;
    border-radius: 10px;
    font-weight: 800;
    color: white;
    font-style: oblique;
}

.top-banner {
    background-repeat: no-repeat;
    background-image: url(images/top-banner.png);
}

.side-banner {
    background-repeat: no-repeat;
    background-image: url(images/dream-bg.png);
    background-position: right;
}

.Shedo-develop {
    width: 50%;
    padding-left: 10px;
    box-shadow: 10px 10px 30px rgb(183, 8, 8);
    margin-left: 2%;
    margin-right: 2%;
    border-radius: 10px;



}

.exprenace {
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left bottom;
}

#border-line {
    border-left: 5px solid;
    border-image: linear-gradient(purple, tomato);
    border-image-slice: 10;
}

#border-line-one {
    border-left: 5px solid;
    border-image: linear-gradient(blue, tomato);
    border-image-slice: 10;
}